{% extends "main_layout.twig" %}
{% set current_page = 'display' %}
{% block content %}
<h2>Display Features</h2>
<p>This can be used to enable <a href="https://support.google.com/analytics/answer/3450482?hl=en&ref_topic=3413645&rd=1">display Advertising Features in Google Analytics</a>, such as <a href="https://support.google.com/analytics/answer/2611268">Remarketing</a>,
<a href="https://support.google.com/analytics/answer/2799357">Demographics and Interest Reporting</a>, and more. Previously this was added by calling a different JavaScript file.
However in Universal Analytics you can now add it via the <code>require</code> command.
{{ submenu ({
    'cookieName' : 'Cookie Name',
    'multipleTrackers' : 'Multiple Trackers'
}) }}

<section id="note">
    <div data-alert class="alert-box"><i class="icon-notification"></i> In analytics.js, you need to include the following line of code after your create call, but before any send events.</div>
    <figure>
        <figcaption>
            analytics.js
        </figcaption>
        <pre><code>ga('require', 'displayfeatures');</code></pre>
    </figure>
    <p>Below is an example of where you should include it:</p>
    <figure>
        <figcaption>
            analytics.js
        </figcaption>
        <pre><code>ga('create', 'UA-XXXXX-Y');
ga('require', 'displayfeatures');
ga('send', 'pageview');</code></pre>
    </figure>
</section>
<section id="cookieName">
    <h3>Changing the Cookie Name</h3>
    <p>The default cookie name is <code>_dc</code>. You can change this by setting the <code>cookieName</code> option when you require the plugin.
    <figure>
        <figcaption>
            analytics.js
        </figcaption>
        <pre><code>ga('require', 'displayfeatures', undefined, {
    cookieName: 'display_features_cookie'
});</code></pre>
    </figure>
</section>
<section id="multipleTrackers">
    <h3>Using Multiple Trackers</h3>
    <p>To use the display features plugin with multiple trackers, prepend the require call with the tracker name.
    <figure>
        <figcaption>
            analytics.js
        </figcaption>
        <pre><code>//Create a tracker named 'foo' for property UA-XXXXX-Y
ga('create', 'UA-XXXXX-Y', {name: 'foo'});
ga('foo.require', 'displayfeatures');
ga('foo.send', 'pageview');

//Create a second tracker named 'bar' for a different property UA-XXXXX-Z
ga('create', 'UA-XXXXX-Z', {name: 'bar'});
ga('bar.require', 'displayfeatures');
ga('bar.send', 'pageview');</code></pre>
    </figure>

</section>
{% endblock %}