{% include 'header.twig' %}
    <div class="row">
        <div class="large-12 columns" id="snippets">
            {% block content %}{% endblock %}
        </div>
    </div>
{% include 'footer.twig' %}